.myBtn {
  --button-primary-bg: #518581;
  --button-primary-bg-hover: #86aaa7;
  --button-primary-bg-disabled: #d9d9d9;
  --button-primary-bg-active: #487773;
  --text-button: #ffffff;
  padding: var(--space-s) var(--space-l);
  min-height: 52px;
  display: flex;
  gap: var(--space-xxs);
  justify-content: center;
  align-items: center;
  background-color: var(--button-primary-bg);
  border: none;
}

.myBtn:hover {
  background-color: var(--button-primary-bg-hover);
}

.myBtn:disabled {
  background-color: var(--button-primary-bg-disabled);
}

.myBtn:active {
  background-color: var(--button-primary-bg-active);
}

.textButton {
  color: var(--text-button);
  font-size: 18px;
  font-weight: 400;
}

.load {
  fill: var(--text-button);
}
